---
interface Props {
	title: string;
	body: string;
	img: string[];
}

const { img, title, body } = Astro.props;
---
<div class="card">
	<div class="layer layer-one">
		<img src={img[0]}  alt="">
	</div>
	<div class="layer layer-two">
		<img src={img[1]} alt="">
	<div/>
</div>

<style>
	img {
		width: 100%;
		height: 100%;
		border-radius: 5px;
	}

	.card {
		position: relative;
		width: 300px;
		aspect-ratio: 1/1.68;


		transition:                  transform 0.5s;
		transform-style: preserve-3d;
	}

	.card:hover {
		transform: rotate3d( 1, 1, 0.1, 20deg );
	}

	.layer {
		position: absolute;
		width: 100%;
		height: 100%;
		border:  1px solid #a5a5a5; 
		border-radius: 10px;
		padding: 5px;
	}

	.layer-one {
		background-color: rgba(255, 255, 255, 0.158);

	}

	.layer-two {
		transform: translateZ(15px);
		filter: drop-shadow(8px 8px 8px #000000e1);
	}
</style>
